@{
    ViewData["Title"] = "Home Page";
}

<h1>Seja bem vindo(a) ao nosso sistema. Selecione uma tarefa</h1>

<ul>
    <li>
        <a asp-action="Index" asp-controller="Forum">Gestão de Forum</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Usuarios">Gestão de Usuários</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Comentarios">Comentários</a>
    </li>

</ul>