
@{
    ViewData["Title"] = "Listar Comentários - Ajax";
}

<h1>Listar Comentários por Forum - Ajax</h1>

<form asp-action="ListarPorForumAjax" asp-controller="Comentarios" method="get">
    <div class="mb-3">
        <label class="form-label">Selecione o Fórum</label>
        <select id="idForum" name="idForum" class="form-select"
                asp-items="(SelectList)ViewBag.Foruns">
                <option value="0">SELECIONE</option>
        </select>
    </div>
</form>

<div class="mb-3" id="resultado"></div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $("#idForum").change(function(){
                let id = $(this).val();

                if(id == 0){
                    let erro = '<div class="alert alert-danger">Nenhum forum selecionado</div>';
                    $("#resultado").html(erro);
                } else {
                    $("#resultado").load("/Comentarios/ListarPorForumAjax?idForum=" + id);
                }
            });
        });
    </script>
}