
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Usuários</h1>
<h3>Escolha uma opção</h3>

<ul>
    <li>
        <a asp-action="Listar" asp-controller="Usuarios">Listar todos os usuários</a>
    </li>
</ul>
