
@{
    ViewData["Title"] = "Forum";
}

<h1>Gestão de Forum</h1>
<h3>Escolha uma opção</h3>

<ul>
    <li>
        <a asp-action="ListarTodos" asp-controller="Forum">Listar todos os foruns</a>
    </li>
</ul>

