@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Autenticacao" asp-action="Index">Olá, @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Autenticacao" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Autenticacao" asp-action="Registrar">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Autenticacao" asp-action="Login">Login</a>
        </li>        
    }
</ul>